<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tarun.fitness_trainer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUp" />
        <activity android:name=".SignIn" />
        <activity android:name=".Home" />
        <activity android:name=".BMI_ACTIVITY" />
        <activity android:name=".DIET_PLAN_ACTIVITY" />
        <activity android:name=".EXERCISES_ACTIVITY" />
        <activity android:name=".FoodList" />
        <activity android:name=".FoodDetail" />
        <activity android:name=".activitySettings" />
        <activity android:name=".check_your_bmi_first" />
        <activity android:name=".Gain_Diet" />
        <activity android:name=".Ideal_Diet" />
        <activity android:name=".Loose_Diet" />
        <activity android:name=".User_Diet"></activity>
    </application>

</manifest>